<!-- About Section -->
<section class="about section" id="about">
  <div class="container">
    <div class="section-heading">
      <h2>About Me</h2>
      <div class="underline"></div>
    </div>
    <div class="about-content">
      <div class="about-image">
        <img
          src="assets/images/photo_2024-07-14_22-54-06.jpg"
          alt="Aravinth Profile Image"
        />
      </div>
      <div class="about-text">
        <h3>My Journey</h3>
        <p>
          I am a passionate and forward-thinking Artificial Intelligence
          specialist with a strong academic and research background in Deep
          Learning, Natural Language Processing, and Machine Translation. With a
          Master’s degree in Artificial Intelligence and a Bachelor’s in
          Information Science, I have developed intelligent systems and
          conducted impactful research aimed at solving real-world problems. I
          bring a solid understanding of AI frameworks, data science tools, and
          web technologies, combined with a keen interest in education and
          mentorship. I’m excited to contribute to innovative AI and Data
          Science projects that foster academic growth and practical impact to
          the practical world.
        </p>
        <div class="about-details">
          <div class="detail-row">
            <div class="detail-item">
              <span class="detail-icon"
                ><i class="fas fa-chalkboard-teacher"></i>
              </span>
              <div class="detail-content">
                <h4>Teaching</h4>
                <p>
                  4+ years of professional experience in teaching and mentoring.
                </p>
              </div>
            </div>
            <div class="detail-item">
              <span class="detail-icon"><i class="fas fa-database"></i></span>
              <div class="detail-content">
                <h4>Data Science</h4>
                <p>Specialized in machine learning models and data analysis</p>
              </div>
            </div>
          </div>
          <div class="detail-row">
            <div class="detail-item">
              <span class="detail-icon"><i class="fas fa-code"></i></span>
              <div class="detail-content">
                <h4>Software Engineering</h4>
                <p>
                  3+ years of professional experience in website development.
                </p>
              </div>
            </div>
            <div class="detail-item">
              <span class="detail-icon"><i class="fas fa-chart-line"></i></span>
              <div class="detail-content">
                <h4>Analytics</h4>
                <p>Data-driven insights and visualization expertise</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
