<!-- Experience Section -->
<section class="experience section" id="experience">
  <div class="container">
    <div class="section-heading">
      <h2>Experience</h2>
      <div class="underline"></div>
    </div>
    <div class="experience-timeline">
      <!-- Experience Item 1: Lecturer -->
      <div class="timeline-item">
        <div class="timeline-icon">
          <i class="fas fa-briefcase"></i>
          <!-- Example icon -->
        </div>
        <div class="timeline-content">
          <div class="timeline-header">
            <img
              src="assets/images/asu_logo.jpg"
              alt="Assosa University Logo"
              class="company-logo"
            />
            <div class="company-info">
              <h3 class="job-title">Lecturer</h3>
              <h4 class="company-name">Assosa University</h4>
              <span class="job-duration"
                ><i class="far fa-calendar-alt"></i> Jul 2024 - Present</span
              >
              <p class="company-location">
                <i class="fas fa-map-marker-alt"></i> Assosa, Benishangul gumuz,
                Ethiopia
              </p>
            </div>
          </div>
          <div class="job-description">
            <ul>
              <li>
                Teaching AI-related courses and mentoring students in research
                and project development.
              </li>
              <li>
                Designing curricula and promoting practical learning in data
                structures and algorithms, data science and machine learning
                domains.
              </li>
            </ul>
          </div>
          <div class="experience-tech-stack">
            <h5>Courses Taught:</h5>
            <div class="teaching-tags">
              <span class="tech-tag">Fundamentals of Programming (C++)</span>
              <span class="tech-tag">Data Structures & Algorithms</span>
              <span class="tech-tag">Fundamentals of Data Science</span>
              <span class="tech-tag">Emerging Technologies</span>
              <span class="tech-tag">AI Principles</span>
              <span class="tech-tag">Software Engineering Concepts</span>
              <span class="tech-tag">Database Systems</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Experience Item 2: Assistant Lecturer -->
      <div class="timeline-item">
        <div class="timeline-icon">
          <i class="fas fa-graduation-cap"></i>
          <!-- Example icon for internship -->
        </div>
        <div class="timeline-content">
          <div class="timeline-header">
            <img
              src="assets/images/asu_logo.jpg"
              alt="Assosa University Logo"
              class="company-logo"
            />
            <div class="company-info">
              <h3 class="job-title">Assistant Lecturer</h3>
              <h4 class="company-name">Assosa University</h4>
              <span class="job-duration"
                ><i class="far fa-calendar-alt"></i> Feb 2023 - Jull 2024</span
              >
              <p class="company-location">
                <i class="fas fa-map-marker-alt"></i> Assosa, Benishangul gumuz,
                Ethiopia
              </p>
            </div>
          </div>
          <div class="job-description">
            <ul>
              <li>Delivered undergraduate courses in Information Science.</li>
              <li>
                Assisted students in final-year project design, development, and
                research methodology.
              </li>
            </ul>
          </div>
          <div class="experience-tech-stack">
            <h5>Tech Stack:</h5>
            <div class="tech-tags">
              <span class="tech-tag">C++</span>
              <span class="tech-tag">Java</span>
              <span class="tech-tag">NodeJS</span>
              <span class="tech-tag">JavaScript</span>
              <span class="tech-tag">AWS EC2</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Experience Item 3: Graduate Assistant  -->
      <div class="timeline-item">
        <div class="timeline-icon">
          <i class="fas fa-graduation-cap"></i>
          <!-- Example icon for internship -->
        </div>
        <div class="timeline-content">
          <div class="timeline-header">
            <img
              src="assets/images/asu_logo.jpg"
              alt="Assosa University Logo"
              class="company-logo"
            />
            <div class="company-info">
              <h3 class="job-title">Graduate Assistant</h3>
              <h4 class="company-name">Assosa University</h4>
              <span class="job-duration"
                ><i class="far fa-calendar-alt"></i> Feb 2021 - Jan 2023</span
              >
              <p class="company-location">
                <i class="fas fa-map-marker-alt"></i> Assosa, Benishangul gumuz,
                Ethiopia
              </p>
            </div>
          </div>
          <div class="job-description">
            <ul>
              <li>
                Supported lab sessions and tutorials in Information Science.
              </li>
              <li>
                Participated in departmental research initiatives and student
                support activities.
              </li>
              <li>
                Participated on deployment of an Institutional Repository system
                for Assosa University.
              </li>
            </ul>
          </div>
          <div class="experience-tech-stack">
            <h5>Tech Stack:</h5>
            <div class="tech-tags">
              <span class="tech-tag">Frontend</span>
              <span class="tech-tag">Backend</span>
              <span class="tech-tag">Database</span>
              <span class="tech-tag">Containerization</span>
              <span class="tech-tag">CI/CD</span>
              <span class="tech-tag">Monitoring</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
