<!-- Projects Section -->
<section class="projects section horizontal-scroll-enabled" id="projects">
  <div class="container">
    <div class="section-heading">
      <h2>My Projects</h2>
      <div class="underline"></div>
    </div>
    <div class="project-filters">
      <button class="filter-button active" data-filter="all">
        All Projects
      </button>
      <button class="filter-button" data-filter="sde">
        Software Development
      </button>
      <button class="filter-button" data-filter="dsml">
        Data Science & ML
      </button>
    </div>
    <div class="scroll-arrow-container">
      <button class="scroll-arrow prev-arrow" aria-label="Previous items">
        <i class="fas fa-chevron-left"></i>
      </button>
      <button class="scroll-arrow next-arrow" aria-label="Next items">
        <i class="fas fa-chevron-right"></i>
      </button>
    </div>
    <div class="horizontal-scroll-wrapper">
      <div class="scroll-content projects-grid">
        <!-- SDE Project 1 -->
        <div class="project-card" data-category="dsml">
          <div class="project-image">
            <img
              src="assets/projects/CreateYourOwnModel3_680.jpg"
              alt="A Multi-Strategy Wheeled Robot System for Navigation"
            />
          </div>
          <div class="project-content">
            <h3 class="project-title">
              A Multi-Strategy Wheeled Robot System for Navigation
            </h3>
            <p class="project-description">
              Designed and implemented a robotic navigation system capable of
              autonomously reaching target destinations using the A* algorithm
              for shortest path planning. The project involved creating a
              simulated wheeled robot in the Gazebo environment, where the robot
              was able to evaluate multiple navigation strategies and
              consistently select the most efficient route.<!-- The system
              demonstrated the ability to compute and follow optimal paths in
              dynamic environments, showcasing practical applications of AI
              search algorithms, robotics simulation, and autonomous navigation
              techniques. -->
            </p>
            <div class="project-tech-stack">
              <span class="tech-tag">Path planning</span>
              <span class="tech-tag">Robotics & Simulation</span>
              <span class="tech-tag">ROS</span>
              <span class="tech-tag">SLAM</span>
              <span class="tech-tag">Sensor Integration</span>
              <span class="tech-tag">Git & Github</span>
            </div>
            <div class="project-links">
              <a
                href="https://github.com/cbg11/A-Multi-Strategy-Wheeled-Robot-System-for-Navigation"
                class="project-link"
                target="_blank"
                ><i class="fab fa-github"></i> Source Code</a
              >
            </div>
          </div>
        </div>

        <!-- SDE Project 2 -->
        <div class="project-card" data-category="sde">
          <div class="project-image">
            <img src="assets/projects/air.png" alt="Application Enhancements" />
          </div>
          <div class="project-content">
            <h3 class="project-title">
              Developing Institutional Repository System for Assosa University
            </h3>
            <p class="project-description">
              Developed and deployed a web-based Institutional Repository System
              for Assosa University to store, preserve, and disseminate
              scholarly documents. Built with PHP, MySQL, and Apache, and
              deployed on a local Unix server, the system replaced manual
              processes with an efficient, reliable, and accessible digital
              solution that improved research visibility and institutional
              efficiency.
            </p>
            <div class="project-tech-stack">
              <span class="tech-tag">Web Development</span>
              <span class="tech-tag">Database Management</span>
              <span class="tech-tag">System Analysis and Design</span>
              <span class="tech-tag">System Deployment and Administration</span>
            </div>
            <div class="project-links">
              <span class="project-note"
                ><i class="fas fa-building"></i> Internal Company Project</span
              >
            </div>
          </div>
        </div>
        <!-- DSML Project 1 -->
        <div class="project-card" data-category="dsml">
          <div class="project-image">
            <img
              src="assets/projects/credit_scoring.png"
              alt="Credit Score Prediction"
            />
          </div>
          <div class="project-content">
            <h3 class="project-title">
              Credit Score Prediction using Machine Learning
            </h3>
            <p class="project-description">
              Developed a Credit Score Prediction API using FastAPI that
              provides Machine Learning as a Service (MaaS) for assessing credit
              risk. The system preprocesses financial data, applies a trained
              Scikit-learn model, and returns the probability of serious
              delinquency, with full error handling and interactive
              documentation via Swagger/Redoc.
            </p>
            <div class="project-tech-stack">
              <span class="tech-tag">Pandas</span>
              <span class="tech-tag">NumPy</span>
              <span class="tech-tag">FastAPI</span>
              <span class="tech-tag">Docker</span>
              <span class="tech-tag">Scikit-learn</span>
              <span class="tech-tag">Matplotlib</span>
              <span class="tech-tag">Seaborn</span>
              <span class="tech-tag">Git & Github</span>
            </div>
            <div class="project-links">
              <a
                href="https://github.com/cbg11/credit_score"
                class="project-link"
                target="_blank"
                ><i class="fab fa-github"></i> Source Code</a
              >
              <a
                href="#"
                class="project-link open-pdf-modal"
                data-modal-title="Credit Scoring"
                ><i class="fas fa-file-alt"></i> Case Study</a
              >
            </div>
          </div>
        </div>

        <!-- DSML Project 2 -->
        <div class="project-card" data-category="dsml">
          <div class="project-image">
            <img
              src="assets/projects/insurance.png"
              alt="Insurance Risk Prediction"
            />
          </div>
          <div class="project-content">
            <h3 class="project-title">
              Insurance Risk Prediction using Machine Learning
            </h3>
            <p class="project-description">
              Built and deployed a machine learning–powered Insurance Risk
              Prediction API using FastAPI. The system takes structured input
              data about vehicles and customers, processes it through principal
              component analysis (PCA), feature scaling, categorical feature
              engineering, and label encoding, and then feeds it into a
              insurance risk prediction model. The trained model, built with
              scikit-learn and CatBoost, outputs a numeric risk score that helps
              estimate the likelihood of insurance claims or risk exposure.
            </p>
            <div class="project-tech-stack">
              <span class="tech-tag">Regression</span>
              <span class="tech-tag">Data Visualization</span>
              <span class="tech-tag">FastAPI</span>
              <span class="tech-tag">Uvicorn</span>
              <span class="tech-tag">Docker</span>
              <span class="tech-tag">PCA</span>
            </div>
            <div class="project-links">
              <a
                href="https://github.com/cbg11/insurance"
                class="project-link"
                target="_blank"
                ><i class="fab fa-github"></i> Source Code</a
              >
            </div>
          </div>
        </div>

        <!-- DSML Project 3 -->
        <div class="project-card" data-category="dsml">
          <div class="project-image">
            <img
              src="assets/projects/nmt.png"
              alt="Neural Machine Translation"
            />
          </div>
          <div class="project-content">
            <h3 class="project-title">
              Developing a Neural Machine Translator for English-Afaan Oromo
            </h3>
            <p class="project-description">
              Developed the Neural Machine translator model with attention based
              approach from Afaan Oromo Language to English and viceversa. The
              model is trained on a dataset of 120,169 parallel sentences and
              achieves a BLEU score of 42.09 for English to Afaan Oromo
              translation and 40.35 for Afaan Oromo to English translation on
              test dataset.
            </p>
            <div class="project-tech-stack">
              <span class="tech-tag">Transformer</span>
              <span class="tech-tag">Attention Mechanism</span>
              <span class="tech-tag">Machine Translation</span>
              <span class="tech-tag">NLP</span>
            </div>
            <div class="project-links">
              <a
                href="https://github.com/cbg11/Neural-Machine-Translator-for-English-Afaan-Oromo/tree/main"
                class="project-link open-pdf-modal"
                data-modal-title="Neural Machine Translation"
                ><i class="fab fa-github"></i> Source Code</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- Closing scroll-content -->
    </div>
    <!-- Closing horizontal-scroll-wrapper -->
  </div>
</section>
